h1 {
    text-decoration: none;
    font-size: bold;
    color: black;
}

a {
    text-decoration: none;
    color: green;
}

.hoje {
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}

.amanha {
    color: darkblue;
    text-decoration: none;
    font-weight: bold;
}

h2 a {
    color: seagreen
}

p {
    font-size: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
